{% extends "master.html.twig" %}

{% block title %}Property add successful{% endblock %}

{% block content %}

    <h3>Property added. </h3>
    <h3> <a href="/image/add"> You can add images for this property<a/></h3>
    
{% endblock %}
