{# empty Twig template #}
{% extends "admin_master.html.twig" %}

{% block title %}Admin  msg deletion successful{% endblock %}

{% block content %}
<p class="spacer" style="text-align: center;font-size: 40px;margin-top: 150px;margin-bottom: 150px;line-height: 150%"
    Product deleted. <a href="/admin/msg/list">Click to continue</a>
</p>F
    
{% endblock %}

