{# empty Twig template #}
{% extends "master.html.twig" %}


{% block title %}Contact Us{% endblock %}
{% block content %}
    <div class="inside-banner">
        <h2 style="margin-left: 80px;">To Contact Us Please LOGIN</h2>
    </div>
    <!-- banner -->
    {% if errorList %}
        <div style="margin-left: 370px;margin-top: 50px;">
            <ul class="errorList" style="font-weight: bolder;color: red;">
                {% for error in errorList %}
                    <li >{{ error }}</li>
                    {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="container">
        <div class="spacer">
            <div class="row contact">
                <div class="col-lg-6 col-sm-6 ">


                    <input type="text" class="form-control" placeholder="Full Name">
                    <input type="text" class="form-control" placeholder="Email Address">
                    <input type="text" class="form-control" placeholder="Contact Number">
                    <textarea rows="6" class="form-control" placeholder="Message"></textarea>
                    <button type="submit" class="btn btn-success" name="Submit">Send Message</button>
                </div>
                <div class="col-lg-6 col-sm-6 ">
                    <style>
                        #map-canvas {
                            width: 500px;
                            height: 350px;
                            margin: 0px,0,0,0px;
                            padding: 0px
                        }
                    </style>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpSKZ6DSWz-RhtnrPzCB-Y1DzructpMaM&callback=initMap">
                    </script>
                    <script>
                        function initialize() {
                            var markPosition = new google.maps.LatLng({{lat}},{{lng}} );
                            var mapOptions = {
                                zoom: 15,
                                center: markPosition
                            };
                            var map = new google.maps.Map(document.getElementById('map-canvas'),
                                    mapOptions);

                            var marker = new google.maps.Marker({position: markPosition, animation: google.maps.Animation.BOUNCE});
                            marker.setMap(map);
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);
                    </script>
                    <div id="map-canvas"></div>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}