{% extends "master.html.twig" %}

{% block title %}Delete House{% endblock %}

{% block content %}
    <div style="text-align: center; ">
        <h3><p style="line-height: 150%;margin-bottom: 30px" > Please login before you 
              ( UPDATE/DELETE )any property<br>  </p></h3>
        <h3 style="margin-bottom: 50px;"><a href="/login">LOGIN </a> </h3>
           
      
    </div> 
{% endblock %}


