{% extends "master1.html.twig" %}

{% block title %}Delete House{% endblock %}

{% block content %}
    <div style="text-align: center; ">
        <h2><p > Please login before you 
                <a href="/login"> updata/edit/delete any property </a> 
            </p></h2>
      
    </div> 
{% endblock %}


