{% extends "master.html.twig" %}

{% block title %}Logout successful{% endblock %}
{% block headExtra %}
    <script type="text/javascript">
        window.setTimeout(function () {
            window.location.href = '/';

        }, 5000);

    </script>
{% endblock %}
{% block content %}
   

    <p class="spacer" style="text-align:justify;font-size: 20px;margin: 150px;line-height: 150%" >You've logged out succesfully.
        <a href="/index">Click to continue to the website</a>.<br>Or You will be Directed to Home Page</p>


    


{% endblock content %}
