
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
    {% block headExtra %}{% endblock %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/style.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/script.js"></script>

    <!-- Owl stylesheet -->
    <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
    <script src="/assets/owl-carousel/owl.carousel.js"></script>
    <!-- Owl stylesheet -->


    <!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="/assets/slitslider/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/slitslider/css/custom.css" />
    <script type="text/javascript" src="/assets/slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="/assets/slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="/assets/slitslider/js/jquery.slitslider.js"></script>
    <!-- slitslider -->

</head>

<body>
    <script>

        //like and share the website on face book
        window.fbAsyncInit = function () {
            FB.init({
                appId: '315314182235679',
                xfbml: true,
                version: 'v2.9'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

//check login status
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
            
        });
        
       
        
    </script>
    <!-- Header Starts -->
    <div class="navbar-wrapper">
        <div class="navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse" >
                    <ul class="nav navbar-nav navbar-right">
                        <li
                            class="fb-like"
                            data-share="true"
                            data-width="450"
                            data-show-faces="true">
                        </li>
                        <li class="active"><a href="/index">Home</a></li>
                        <li><a href="/aboutus">About</a></li>
                        <li><a href="/agents">Agents</a></li>         
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/register">Sign Up</a></li>
                        <li><a href="/contactus">Contact</a></li>
                        <div class="navbar-collapse  collapse" style="float:left">
                            {% if user %}
                                <span style="color: yellow">  Welcome{{user.firstName}} ({{ user.email }})</span><a href="/logout"><br>Logout</a>
                                {% endif %}
                        </div>
                    </ul>
                </div>
                <!-- #Nav Ends -->
            </div>
        </div>

    </div>
    <!-- #Header Starts -->
    <div class="container">

        <!-- Header Starts -->
        <div class="header">
            <a href="/index"><img  src="/images/logo2.png" height="100" width="300" alt="Realestate"></a>

            <ul class="pull-right">
                <!--please fix the delete href!!!-->

                <li><a href="/add">Add a Property</a></li>
                <li><a href="/list">All Properties</a></li>
            </ul>
        </div>
        <!-- #Header Starts -->
    </div>
    <div id="content">
    {% block content %}{% endblock %}
</div>


<div class="footer">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <h4>Information</h4>
                <ul class="row">
                    <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/aboutus">About</a></li>
                    <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/agents">Agents</a></li>         
                    <li class="col-lg-12 col-sm-12 col-xs-3"><a href="">Blog</a></li>
                    <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/contactus">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-sm-3">
                <h4>Newsletter</h4>
                <p>Get notified about the latest properties in our marketplace.</p>
                <form class="form-inline" role="form">
                    <input type="text" placeholder="Enter Your email address" class="form-control">
                    <button class="btn btn-success" type="button">Notify Me!</button></form>
            </div>

            <div class="col-lg-3 col-sm-3">
                <h4>Follow us</h4>
                <a href="#"><img src="/images/facebook.png" alt="facebook"></a>
                <a href="#"><img src="/images/twitter.png" alt="twitter"></a>
                <a href="#"><img src="/images/linkedin.png" alt="linkedin"></a>
                <a href="#"><img src="/images/instagram.png" alt="instagram"></a>
            </div>

            <div class="col-lg-3 col-sm-3">
                <h4>Contact us</h4>
                <p><b>E&M Realestate</b><br>
                    <span class="glyphicon glyphicon-map-marker"></span> 8290 Walk Street, Canada <br>
                    <span class="glyphicon glyphicon-envelope"></span> hello@.com<br>
                    <span class="glyphicon glyphicon-earphone"></span> (123) 456-7890</p>
            </div>
        </div>
        <p class="copyright">Copyright 2017. All rights reserved.	</p>
    </div>
</div>
</body>
</html>


