{% extends "master.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div style="text-align: center; ">
       
        <h3><p style="line-height: 150%;margin-bottom: 30px" >
                <a href="{{link}}" >{{message}}</a>  </p></h3>
            
    </div> 
{% endblock %}


