{% extends "master.html.twig" %}

{% block content %}
    
    <div style="text-align: center;font-size: 40px;margin-top: 10px;margin-bottom: 30px;line-height: 150%">
        <title> <h2>{{title}}</h2> </title>
        <h3 style="color:green;">{{message}}<br>
        <a href="{{link}}">Click to continue</a></h3>
    </div>
{% endblock %}


