{% extends "master.html.twig" %}

{% block title %}Password reset{% endblock %}

{% block content %}

    <h3 style="color:green;margin-left: 250px">Password reset</h3>

    {% if errorList %}

        <ul>
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <p style="text-align: left;font-size: 20px;margin-left: 250px;line-height: 100%">Enter your new password below:</p>
    <div style="font-size: 20px;margin-left: 250px;line-height: 100%">
        <form method="post">

            Password: <input type="password" name="password"><br>
            Password (repeated) <input type="password" name="pass2"><br>
            <input class="btn btn-success" style="width: 20%;margin-bottom:50px;" type="submit" value="Reset password">
        </form>
    </div>

{% endblock %}
