{% extends "master.html.twig" %}

{% block title %}Password reset{% endblock %}

{% block content %}

    <h1>Password reset</h1>

    {% if errorList %}

        <ul>
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <p style="font-size: 40px;margin-bottom: 150px;margin-left: 250px;line-height: 150%;">Enter your new password below.</p>
    <div style="font-size: 20px;margin: 150px;margin-left: 250px;line-height: 100%">
        <form method="post">

            Password: <input type="password" name="pass1"><br>
            Password (repeated) <input type="password" name="pass2"><br>
            <input type="submit" value="Reset password">
        </form>
    </div>

{% endblock %}
