{% extends "master.html.twig" %}

{% block title %}User registration successful{% endblock %}
{% block headExtra %}
    <script type="text/javascript">
        window.setTimeout(function () {
            window.location.href = '/login';
        }, 5000);
    </script>
{% endblock %}
{% block content %}
      


    <p class="spacer" style="text-align:justify;font-size: 20px;margin: 150px;line-height: 150%">Registration successful. You may now <a href="/login">login</a>. or will be directet to login page in 5sec</p>
{% endblock content %}

